[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
dj-rest-auth = "*"
django-allauth = "*"
pyyaml = "*"
uritemplate = "*"
drf-yasg = "*"
django-rest-swagger = "*"
django-cors-headers = "*"
django-ckeditor = "*"
pillow = "*"
wheel = "*"

[dev-packages]

[requires]
python_version = "3.10"
